<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants Menu</title>
    <link rel="stylesheet" href="../../static/menu.css">
</head>
<body style="background-image: url('../../static/images/home-bg.jpg');">
    <div class="heading">
        <h1>Veg Menu</h1>
    </div>
    <div class="container">
        <div class="menu">
            <h2 class="menu-group-heading">
                Burgers
            </h2>
            <div class="menu-group">
                <div class="menu-item">
                    <img src="../../static/images/home-img.png" alt="1947" class="menu-item-image">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Cheese Burger</span>
                            <span class="menu-item-price">$12.90</span>
                        </h3>
                        <p class="menu-item-description">
                            Most famous and delicious fast food that everyone likes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>