@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*{
    margin: 0;
    padding: 0;
}

.main_bg{
    background-image: url(../static/images/home-bg.jpg);
    max-width: 1280px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.form{
    width: 650px;
}

.form-text{
    text-align: center;
    margin: 0 0 40px 0;
}
.form-text h1 span img{
    margin: 0 10px;

}
.form-text h1{
    color: rgb(0, 0, 0);
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
    margin-bottom: 20px;
}
.form-text h2{
  color: black;
  font-family: 'Akaya Telivigala', cursive;
  font-size: 30px;
}
.menu-topic {
  margin-right: 20em;
}

.form-text p{
    color: rgb(0, 0, 0);
    font-family: 'Akaya Telivigala', cursive;
    font-size: large;
}

.main-form div{
    margin: 10px 10px;
    width: 300px;
    display: inline-block;
}
.main-form div input {
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: rgb(0, 0, 0);
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div select{
    width: 104%;
    font-family: 'Akaya Telivigala', cursive;
    background: rgb(255, 255, 255);
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: rgb(0, 0, 0);
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
    
}
.main-form div span{
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

#submit{
    width: 100%;
    text-align: center;
}
#submit input{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
    background-color: yellow !important;
    color: black !important;
    transition: all .3s;
}
#submit input:hover{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
    background-color: black !important;
    color: rgb(0, 0, 0) !important;
}
#submit input:active{
    font-size: 19px;
    background-color: rgb(46, 20, 5) !important;
    color: rgb(0, 0, 0) !important;
}
.container {
  margin-top: 100px;
  padding: 32px;
}

.select-box {
  display: flex;
  width: 400px;
  flex-direction: column;
}
.container h2 {
  color: rgb(0, 0, 0);
  font-family: 'Akaya Telivigala',  cursive;
}

.select-box .options-container {
  background: #ffca00;
  color: black;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.selected {
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: rgb(0, 0, 0);
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10p
}

.selected::after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 0 4px 4px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}


.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

.form__button {
  width: 100%;
  padding: 0.75rem 0.75rem;
  font-weight: bold;
  color: #000000;
  border: none;
  border-radius: var(--border-radius);
  outline-style: solid;
  outline-color: black;
  cursor: pointer;
  background: #ffca00;
  font-family: 'Akaya Telivigala', cursive;
  font-size: 20px;
}

.form__button:hover {
  background: rgb(255, 255, 255);
}

.form__button:active {
  transform: scale(0.98);
}

@media screen and (max-width:710px) {
    .main-form{
        text-align: center;
    }
}

.error-message-display {
  position: absolute;
  top: 5vh;
  text-align: center;
  z-index: 999;
  color: forestgreen;
  font-size: large;
}
