<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/indexstyle.css">
    <title>Table booking</title>
</head>

<body class="main_bg">
    {% if messages %}
    {% for message in messages %}
        <h2 class="error-message-display">{{message}}</h2>
    {% endfor %}
    {% endif %}
    <div class="form">
        <div class="form-text">
            <h1><span><img src="../../static/images/art-1.png" alt=""></span>Book Now<span><img src="../../static/images/art-1.png" alt=""></span></h1>            
            <h2><span style="padding-right: 5em;"><a href="../">Main Page</a></span><span><a href="../menu">View Menu</a></span></h2>
        </div>
        <div class="main-form">
            <form action="{% url 'booknow' %}" method="post">
                {% csrf_token %}
                <div>
                    <span>Reservation Under Name ?</span>
                    <input type="text" name="name" id="name" placeholder="Write your name here..." required>
                </div>
                <div>
                    <span>Your email address ?</span>
                    <input type="email" name="email" id="name" placeholder="Write your email here..." required> 
                </div>
                <div>
                    <!-- <---this is the select option--->
                    <span>Seats Required ?</span>
                    <select name="seats" id="people" required>
                        <option type="number" value=""></option>
                        {% for i in tables %}
                        <option  type="number" value="{{i.No_Of_Seats}}">{{i.No_Of_Seats}}</option>
                        {% endfor %}
                    </select>
                    <!-- <---this is the select option--->
                </div>
                <div>
                    <span>What time ?</span>
                    <input type="time" name="time" id="time" placeholder="Time" required>
                </div>
                <div>
                    <span>What is the date ?</span>
                    <input type="date" name="date" id="date" placeholder="date"  required>
                </div>
                <div>
                    <span>Your phone number ?</span>
                    <input type="tel" name="phno" id="number" placeholder="Write your number here..." pattern="[0-9]{10}" required>
                </div>
                <div>
                    <span>Your Vehicle number ?</span>
                    <input type="text" name="vehicle_num" id="vehicle" placeholder="XX 00 YY 0000" pattern="[A-Z]{2} [0-9]{2} [A-Z]{1,2} [0-9]{4}">
                </div>
                <div>
                    <!-- <---this is the select option--->
                    <span>Select the Restaurants</span>
                    <select name="restaurant" id="people" required>
                        <option disabled selected value>Select the Restaurants</option>
                        {% for i in restaurants %}
                            <option value="{{i.Name}}">{{i.Name}}</option>
                        {% endfor %}
                    </select>
                    <!-- <---this is the select option--->
                
                </div>
                <div id="submit">
                    <button class="form__button" type="submit">SUBMIT</button>
                </div>
                <script src="../../static/index.js"></script>


            </form>
        </div>
    </div>
</body>

</html>